<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlink}}
</head>
<body>
    {{>navbar}}
    
    <!-- main header -->
    <div class="error">
        <div class="error-container">
            <img src="img/404.gif" alt="">
        </div>
        <div class="oops">
            <h1>Oops Page Not Found</h1>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>
</html>